* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  padding: 5rem 3.5rem;
  width: 25%;
  position: relative;
  background-color: #dadada;
  /* z-index: 2; */
  border-radius: 15px;
}

p::before {
  content: "";
  width: 104%;
  height: 104%;
  background: linear-gradient(to right, #2681f8, #e85656 50%, #6cee6c);
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-2%, -2%);
  z-index: -5;
  border-radius: 15px;
}

p:hover {
  background: linear-gradient(to right, #2681f8, #e85656, #6cee6c);
  color: #fff;
}
