.box {
  height: 20dvw;
  width: 20dvw;
  background-color: rgb(232, 230, 230);
  border-radius: 2vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 20px 20px 10px #d7d5d5 inset, -20px -20px 10px #d7d5d5 inset;
}
